$primary: #8863F4;
$secondary: #FFA600;
$red: #FD522C;
$dark-purple: #6743CD;
$soft-purple: #F0E9FF;
$light-orange: #F09E70;
$tosca: #5CDCCF;
$yellow: #FFED00;
$pink: #EA0284;
$soft-pink: #FF6BA0;
$black: #2B2C30;
$white: #F1F1F1;