section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bg {
  &-primary {
    background: $primary !important;
    color: $white;

    hr {
      border-top-color: $white;
    }
  }

  &-secondary {
    background: $secondary !important;
    color: $white;

    hr {
      border-top-color: $white;
    }
  }

  &-pink {
    background: $pink !important;
  }

  &-tosca {
    background: $tosca !important;
  }

  &-yellow {
    background: $yellow !important;
  }

  &-light {
    background: $white !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.circle-asset {
  width: 60rem;
  height: 60rem;
  position: absolute;
  bottom: -50%;
  left: 1rem;
  background-color: $dark-purple;
  border-radius: 100%;
  z-index: -1;

  @media (max-width: 768px) {
    width: 30rem;
    height: 30rem;
    bottom: -30%;
  }
}

.gobi-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  background-color: #F09E70;
}