.navbar {
  width: 100%;
  padding: 1.25rem 4rem;
  transition: $gobi-transition;

  @media (max-width: 992px) {
    padding: 0.8rem 1.5rem;
  }

  .navbar-brand-title {
    color: $white;
    font-weight: bold;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        font-weight: 500;
        padding: 0.25rem 0.75rem;
        margin: 0 0.5rem;
        
        &.nuxt-link-exact-active {
          border-bottom: $gobi-border $secondary;
          margin-bottom: -0.25rem;
        }

        &:hover {
          color: $secondary;
        }

        @media (max-width: 992px) {
          margin: 0.55rem 0;

          &.nuxt-link-exact-active {
            margin-bottom: calc(0.55rem - 0.25rem);
          }
        }
      }

      &.btn-primary {
        .nav-link {
          color: $white;
          padding: 0;
          margin: 0;
        }
      }

      &.btn-round {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}